* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.info-container {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: block;
}

.info-container h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
}

.info-container h2 {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.cards-sub-text {
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
}
.card-salary {
    font-size: 14px !important;
    font-weight: 400;
    margin: 8px 0 !important;
    color: rgb(77, 89, 106);
}

.card-details {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
